h1{
    text-align: center;
}
body{
    background-color: black;
    max-width: max-content;
    margin: auto;
}
.title{
    background-color: rgb(99, 99, 99);
    width: 1000px;
    height: 40px;
}
.container{
    background-color: rgb(129, 129, 129);
    display: flex;
    
    width: 1000px;
    height: 450px;
}
.arrows{
    background-color: rgb(48, 48, 48);
    margin-left: 25px;
    margin-top: 50px;
    width: 150px;
    height: 150px;
}
.screen{
    background-color: rgb(79, 138, 79);
    display: flex;
    margin-left: 25px;
    width: 600px;
    height: 400px;
}
.playarea{
    background: transparent;
}
.level{
    background-color: rgb(6, 77, 0);
    margin-left: 25px;
    height: 20px;
    width: 60px;
}
.score{
    background-color: rgb(6, 77, 0);
    margin-left: 25px;
    height: 20px;
    width: 60px;
}
.buttons{
    background-color: rgb(48, 48, 48);
    margin-left: 25px;
    margin-top: 50px;
    width: 150px;
    height: 200px;
}
.footer{
    background-color: rgb(129, 129, 129);
    margin-left: 200px;
    width: 600px;
    height: 50px;
}


