h1{
    text-align: center;
}
body{
    background-color: black;
    max-width: max-content;
    margin: auto;
}
.title{
    background-color: rgb(99, 99, 99);
    width: 1000px;
    height: 40px;
}
.container{
    background-color: rgb(129, 129, 129);
    display: flex;
    
    width: 1000px;
    height: 450px;
}
.arrows{
    background-color: rgb(48, 48, 48);
    margin-left: 25px;
    margin-top: 50px;
    width: 150px;
    height: 150px;
}
.screen{
    background-color: rgb(79, 138, 79);
    display: flex;
    margin-left: 25px;
    width: 600px;
    height: 400px;
}
.playarea{
    background: transparent;
}
.level{
    background-color: rgb(6, 77, 0);
    margin-left: 25px;
    height: 20px;
    width: 60px;
}
.score{
    background-color: rgb(6, 77, 0);
    margin-left: 25px;
    height: 20px;
    width: 60px;
}
.buttons{
    background-color: rgb(48, 48, 48);
    margin-left: 25px;
    margin-top: 50px;
    width: 150px;
    height: 200px;
}
.upArrow{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 50px;

    &::after {
          content:"^";
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          transform: perspective(40px) rotateX(10deg);
          transform-origin: bottom;
          background: #313131;
    }
}
.leftArrow{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 50px;

    &::after {
          content:"";
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          transform: perspective(40px) rotateX(10deg);
          transform-origin: left;
          background: #313131;
    }
}
.rightArrow{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 50px;

    &::after {
          content:"";
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          transform: perspective(40px) rotateX(10deg);
          transform-origin: right;
          background: #313131;
    }
}
.downArrow{
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 50px;

    &::after {
          content:"";
          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          transform: perspective(80px) rotateX(-10deg);
          transform-origin: top;
          background: #313131;
    }
}
.footer{
    background-color: rgb(129, 129, 129);
    margin-left: 200px;
    width: 600px;
    height: 50px;
}


