:root{
    --pixel-size: 1px;
    --grid-cell: calc(var(--pixel-size) * 16);
    --bg: #9fa7e4;
}
.map{
    image-rendering: pixelated;
    display: block;
    width: calc(var(--pixel-size)*608);
    height: calc(var(--pixel-size)*352);
    overflow: hidden;
    background: url(sprites/Floor.jpg);
    background-size: 64px;
    background-repeat: repeat;
    position:absolute;
    float: left;
    top: 48px;
}
.player{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    text-align: center;
    color:azure;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    background-color: rgb(0, 17, 255);
}
.player[facing = up]{
    background-color: rgb(66, 36, 175);
}
.player[facing = down]{
    background-color: rgb(175, 36, 36);
}
.player[facing = left]{
    background-color: rgb(36, 175, 36);
}
.player[facing = right]{
    background-color: rgb(149, 175, 36);
}
.player[block = true]{
    background-color: rgb(49, 25, 2);
}
.attack{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    background-color: rgb(135, 218, 142);
}
.hole{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    border-image: url(sprites/HoleBorder.png);
    padding: 0px;
    border-image-width: auto;
    border-image-slice: 25%;
    border-image-repeat: round;
    display:block;
    position: absolute;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
.safezone{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    background-color: rgba(210, 255, 47, 0.397);
}
.trigger{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.178);
}
.wall{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
}
.symbol{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    image-rendering: pixelated;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    
}
.enemy{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    text-align: center;
    color:azure;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    background-color: rgb(54, 0, 0);
}
.ghost{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    background-color: rgba(35, 0, 46, 0.678);
}
.trap{
    width: calc(var(--grid-cell)*2);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    background-color: rgb(34, 34, 34);
}
.arrow{
    width: calc(var(--grid-cell));
    height: calc(var(--grid-cell));
    position: absolute;
    overflow: visible;    
}
.exit{
    width: calc(var(--grid-cell)*6);
    height: calc(var(--grid-cell)*2);
    position: absolute;
    overflow: hidden;
    color:aliceblue;
    background-color: rgb(27, 13, 109);
}

h1{
    text-align: center;
    right: 300px;
    color:rgba(255, 255, 255, 0.5);
}

h1.engraved {
    font-family: Futura;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
 }
body{
    background-color: black;
    max-width: max-content;
    margin: auto;
}
.title{
    background-color: rgb(99, 99, 99);
    display:block;
    width: 1000px;
    text-align: right;
    height: 40px;
}
.name{
    float: left;
    position: relative;   
    bottom: 20px;
    left: 400px;
    height: 40px;
}
.reset, .info{
    float: right;
    display:flex;
    background-color: rgb(99, 99, 99);        
    border-width: 4px;
    width: 105px;
    height: 35px;
}
.inbtntext , .rstbtntext{
    font-size: 18px;
    text-transform: uppercase;
    position:relative;
    margin:auto;
    color:black;
}
.A {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    font-size: 25px;
    margin-left: 25px;
}
.B {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    margin-left: 75px;
    margin-top: 25px;
    font-size: 25px;
}
.Pause, .Hint{
    margin-left: 15px;
    height: 10px;
    width: 50px;
    border-radius: 25%;
    background-color: rgb(31, 31, 31);
}
.pauseText{
    margin-left: 23px;
    color:black;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: bottom;
}
.hintText{
    margin-left: 35px;
    color:black;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: bottom;
}

.container{
    background-color: rgb(129, 129, 129);
    display: flex;
    width: 1000px;
    height: 450px;
}

.screen{
    background: url(sprites/Brick.jpg);
    background-size: 32px;
    background-repeat: repeat;
    display: flex;
    position: relative;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 608px;
    height: 400px;
}
.content{
    width: 558px;
    height: 400px;
}
.pbutton{
    background-color: rgba(255, 171, 75, 0.459);
    width: 25px;
}
.nbutton{
    background-color: rgba(255, 171, 75, 0.459);
    width: 25px;
}

.screen.pause{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    display:inline;
    text-align: center;
    text-shadow: 5px 5px #000000be;
    font-family: 'Copperplate', monospace;
    font-size: 75px;
    color: aliceblue;
    position: absolute;
    margin:auto;
    z-index: 5;
}
.screen.score{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    display:inline;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    position: absolute;
    margin:auto;
    color:black;
    width: 608px;
    height: 400px;
    z-index: 5;
}
.screen.info{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    color:aliceblue;
    position: absolute;
    margin:auto;
    z-index: 5;
}
.screen.gameOver{
    background-image: linear-gradient(rgb(218, 0, 11), rgb(78, 0, 0));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    text-align: center;
    position: absolute;
    margin:auto;
    z-index: 5;
}
.screen.gameWin{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    text-align: center;
    position: absolute;
    margin:auto;
    z-index: 5;
}
.screen.hint{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    color: azure;
    text-align: center;
    position: absolute;
    margin:auto;
    margin-top: 300px;
    width: 608px;
    height:100px;
    z-index: 5;
}
.screen.dialogue{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    font-size: 14px;
    display: inline;
    color: azure;
    text-align: left;
    position: absolute;
    margin:auto;
    margin-top: 300px;
    width: 608px;
    height:100px;
    z-index: 5;
}

.portrait{
    background:rgb(96, 98, 224);
    display: block;
    text-align: center;
    position: absolute;
    margin:auto;
    margin-top: 10px;
    margin-left: 10px;
    width: 80px;
    height:80px;
}
.dtext{
    display: inline;
    color: azure;
    text-align: left;
    position: absolute;
    margin:auto;
    margin-left: 100px;
    width: 475px;
    height:80px;
}
.scrnexit{
    width: 15px;
    height: 15px;
    display: inline;
    color: azure;
    text-align: center;
    position: absolute;
    margin:auto;
    margin-top: 10px;
    margin-left: 580px;
    border:1px solid rgb(255, 255, 255);
}
.pattern{
    margin:auto;
    margin-left: 28%;
}
.slot{
    width: 64px;
    height: 64px;
    background-color: #1d1d1ddc;
    float: left;
    border:1px solid rgba(0, 0, 0, 0.692);
}
.playarea{
    background: transparent;
}
.label{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    color:aliceblue;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}
.level, .score, .health, .timer{
    background-image: linear-gradient(rgb(0, 22, 219), rgb(20, 0, 133));
    border-color: aliceblue;
    border-style: groove;
    border-radius: 3px;
    font-family: 'Copperplate', monospace;
    color:aliceblue;
    display:flex;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 95px;
}
.spacer{
    margin-left: 10px;
    margin-right: 10px;
}
.buttons{
    background-color: rgb(48, 48, 48);
    margin-left: 25px;
    margin-top: 50px;
    width: 150px;
    height: 200px;
}
.dpad{
    align-content: center;
    display: block;
    background-color: rgb(48, 48, 48);
    margin-left: 25px;
    margin-top: 50px;
    width: 150px;
    height: 150px;

    clip-path: polygon(
        50px 0,
        calc(100% - 50px) 0,
        100% 50px,
        100% calc(100% - 50px),
        calc(100% - 50px) 100%,
        50px 100%,
        0 calc(100% - 50px),
        0 50px
    );
}
.upArrow{
    background-image: url(sprites/CArrow.png);
    height: 50px;
    width: 50px;
    margin-left:50px;
    background-size: 100%;
    background-color: transparent; 
    transform: rotate();
}
.downArrow{
    background-image: url(sprites/CArrow.png);
    height: 50px;
    width: 50px;
    margin-top: 100px;
    margin-left: 50px;
    background-size: 100%;
    background-size: 100%;
    background-color: transparent; 
    transform: rotate(180deg);
}
.rightArrow{
    background-image: url(sprites/CArrow.png);
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: 100px;
    background-size: 100%;
    background-size: 100%;
    background-color: transparent;
    transform: rotate(90deg); 
}
.leftArrow{
    background-image: url(sprites/CArrow.png);
    height: 50px;
    width: 50px;
    margin-top: 50px;
    background-size: 100%;
    background-size: 100%;
    background-color: transparent; 
    transform: rotate(270deg);
}
.footer{
    background-color: rgb(129, 129, 129);
    margin-left: 200px;
    width: 600px;
    height: 74px;
}
#heart {
    position: relative;
    width: 25px;
    height: 22px;
    margin-top: 5px;
    margin-left: 5px;
 }
#heart::before, #heart::after {
    content: "";
    position: absolute;
    top: 0;
    width: 13px;
    height: 20px;
    border-radius: 50px 50px 0 0;
    background: red;
  }
#heart::before {
    left: 12.5px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
#heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
}